.vs/MVCKnockoutDemo/v15/Server/sqlite3/db.lock
.vs/MVCKnockoutDemo/v15/Server/sqlite3/storage.ide
.vs/MVCKnockoutDemo/v15/Server/sqlite3/storage.ide-shm
.vs/MVCKnockoutDemo/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
MVCKnockoutDemo/obj/**
HostApplicationDemo/HostApplicationDemo.csproj.user
