<br /><br />
<label for="emailAddress">Email Address </label><br />
<input name="emailAddress" type="email" />
<br /><br />

<label for="password">Password </label><br />
<input name="password" type="password" /><br /><br />


<label for="confirmPassword">Confirm Password </label><br />
<input name="confirmPassword" type="password" /><br /><br />


<label for="firstName">First Name </label><br />
<input name="firstName" type="text" /><br /><br />


<label for="lastName">Last Name</label><br />
<input name="lastName" type="text" />
