@{
    ViewData["Title"] = "Saved Results";
}

<header>
	<h1>Saved Results</h1>
</header>
<body>
	<p><span id="results"></span></p>
</body>

<script type="text/javascript">
	window.onload = function () {
		document.getElementById('results').appendChild(document.createTextNode(document.cookie));
	}
</script>
