@{
	ViewData["Title"] = "Home Page";
}

<header>
	<h1>31 Gifts Demo</h1>
</header>


<!--TODO change height/width-->
<iframe src="http://localhost:57046" width="100%" height="600" frameborder="0"></iframe>


